@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body{
    background: #232323;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 40px;
    transition-duration: .3s;
}

#container {
    max-width: 800px;
    margin: 20px auto;
}

h1 {
    color: #fff;
    text-align: center;
    background: steelblue;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 0;
}

#stripe {
    background: #fff;
    height: 40px;
    text-align: center;
}

.selected {
    color: #fff;
    background: steelblue;
}

#colorDisplay {
    font-size: 200%;
}

button {
    border: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    background: none;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition-duration: .3s;
    outline: none;
}

#message {
    display: inline-block;
    width: 20%;
    font-weight: 600;
}

button:hover {
    color: #fff;
    background: steelblue;
    
}